<div class="container">
  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>
  <div class="jumbotron text-center">
    <h2>Cadastro de endereço</h2>
  </div>
  <form novalidate="novalidate" class="form-horizontal" name="formCadastro">
    <div class="control-group">
      <label class="control-label" for="inputZip">CEP: </label>
      <div class="controls">
        <input type="text" class="input" id="inputZip" ng-model="address.zipcodeNumber" required/>
        <a ng-click="findZip()" class="btn btn-small btn-primary">Buscar</a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputStreet">Rua: </label>
      <div class="controls">
        <input type="text" id="inputStreet" ng-model="address.street" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputNumber">Número: </label>
      <div class="controls">
        <input type="text" id="inputNumber" ng-model="address.number" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputComplement">Complemento: </label>
      <div class="controls">
        <input type="text" id="inputComplement" ng-model="address.complement"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDistrict">Bairro: </label>
      <div class="controls">
        <input type="text" id="inputDistrict" ng-model="address.district"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputCity">Cidade: </label>
      <div class="controls">
        <input type="text" id="inputCity" ng-model="address.city" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputState">Estado: </label>
      <div class="controls">
        <input type="text" id="inputState" ng-model="address.state" required/>
      </div>
    </div>
    <div class="row">
      <div class="control-group">
        <div class="controls">
          <!-- user-creation.html: -->
          <a ng-click="updateAddress()" class="btn btn-small btn-primary" ng-disabled="formCadastro.$invalid">Salvar</a>

          <!-- user-detail.html: -->
          <a ng-click="cancel()" class="btn btn-danger btn-small">Cancelar</a>
        </div>
      </div>
    </div>
  </form>
</div>